{% extends 'base.html.twig' %}
{% block title %}Liste des Burgers - CRUDcroustillant{% endblock %}
{% block body %}

<h2 style="padding: 80px 15px 30px;">Ceci est la liste des burgers</h2>
{% endblock %}