{% extends "base.html.twig"%}
{% block title %}Accueil - CRUDcroustillant{% endblock %}
{% block body %}
<main style="padding: 80px 15px 30px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
<h1> Bienvenue sur CRUDcroustillant</h1>
<img src="{{ asset('img/burger.webp') }}" alt="Burger appétissant" 
         style="display:block; margin:20px auto; max-width:400px; border-radius:10px; box-shadow: 0 4px 8px rgba(0,0,0,0.2);">
    <p>Découvrez nos délicieux burgers.</p>
{% endblock %}